mixin g-tag(tag)
	case tag
		when 'a': a(
			class= attributes.class
			href= attributes.href
			style= attributes.style
			data-fancybox= attributes['data-fancybox']
			data-caption= attributes['data-caption']
		): block
		default: div(
			class= attributes.class
			style= attributes.style
		): block